<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 12px;">Пользовательское соглашение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Настоящее Пользовательское соглашение представляет собой предложение Пользователю использовать Сервис «Янов-Минск»
  </h5>
  <h5>Использование Пользователем Сервиса регулируется настоящим Пользовательским соглашением, а также действующим
    законодательством Республики Беларусь. </h5>
  <h5>Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим Пользовательское соглашение, в
    полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений
    Пользовательского соглашения и/или Регулирующих документов, Пользователь не вправе использовать Сервис.</h5>
  <h5>ИП Пилипчук ВН вправе в любое время без уведомления Пользователя изменить положения Пользовательского соглашения.
  </h5>
  <h5>В случае если были внесены какие-либо изменения в Пользовательское соглашение, с которыми не согласен
    Пользователь, он обязан прекратить использование Сервиса.</h5>
  <h5>ИН Пилипчук ВН оставляет за собой право на свое усмотрение ограничить доступ Пользователя к Сервису (или к
    определенным функциям Сервиса, если это возможно технологически) с использованием его учетной записи или полностью
    заблокировать учетную запись Пользователя при неоднократном нарушении Пользовательского соглашения, либо применить к
    Пользователю иные меры с целью соблюдения Пользовательского соглашения, а также требований законодательства или прав
    и законных интересов третьих лиц.</h5>
  <h5>Пользователь дает согласие ИП Пилипчук ВН на обработку персональной информации (включая персональные данные)
    Пользователя, на передачу персональной информации Пользователя для целей использования Сервиса, оформления Заказа на
    Сервисе </h5>
  <h5>Настоящим Пользователь выражает согласие, что в целях контроля качества и разрешения спорных вопросов ИП Пилипчук
    ВН может осуществлять запись всех разговоров Пользователя с диспетчером.</h5>
  <h5>1. Оплата Услуг в рамках оформленного Пользователем билета, должна быть произведена Пользователем посредством
    безналичной оплаты , или путем расчета наличными денежными средствами в момент посадки в автобус.
    ИП Пилипчук ВН не гарантирует отсутствие ошибок в отношении предоставления возможности безналичной оплаты.
  </h5>
  <h5>2. Пользователь понимает и соглашается, что все действия, совершенные в рамках Сервиса после авторизации с помощью
    логина и пароля, присвоенных ему при регистрации на Сервисе, считаются совершенными Пользователем.</h5>
</ion-content>