h5 {
  margin-top: 0;
}

ion-card{
  background: none;
  padding: 0;
  margin: 0;
}

.time-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.select-stop {
  display: flex;
  width: 100%;
  justify-content: start;
    align-items: center;
  p {
    padding: 0;
    margin: 0;
  }
  .select-stop__container {
    margin-left: 8px;
    .select-stop__title {
      font-size: 16px;
    }
    .select-stop__subtitle {
      font-size: 12px;
    }
  }
}

.icon-container {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #024b38;
}

.stops {
  display: block;
}

.nav {
  margin-top: 16px;
}

.card-info__date {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: #024b38e7;
  padding: 6px;
  height: 32px;
  color: #fff !important;
  p {
    margin-left: 4px;
  }
}