<ion-header *ngIf="isSelectMinskStop">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeMinsk()">
      <ion-icon style="color: #024b38;" name="close" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>
      <div style="font-size: 8px;">
        <h6 style="margin: 0; padding: 0;">{{currentCity.name}} - {{cityTo.name}}</h6>
        <h6 style="margin: 0; padding: 0;">{{getDateFormat()}}</h6>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="calendar-container" *ngIf="isSelectMinskStop">
  <ion-grid class="ion-no-padding">
    <ion-row *ngFor="let i of placesMinsk" class="ion-no-padding">
      <ion-item (click)="setStop(i, 1)" class="ion-no-padding"
        style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div>{{i.name}}</div>
        <ion-icon style="margin-left: auto;" name="chevron-forward-outline" size="large"
          class="ion-no-padding"></ion-icon>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-header *ngIf="isSelectIvanovoStop">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeIvanovo()">
      <ion-icon style="color: #024b38;" name="close" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>
      <div style="font-size: 8px;">
        <h6 style="margin: 0; padding: 0;">{{currentCity.name}} - {{cityTo.name}}</h6>
        <h6 style="margin: 0; padding: 0;">{{getDateFormat()}}</h6>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="calendar-container" *ngIf="isSelectIvanovoStop">
  <ion-grid>
    <ion-row *ngFor="let i of placesIvanovo">
      <ion-item (click)="setStop(i, 2)" class="ion-no-padding"
        style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div>{{i.name}}</div>
        <ion-icon style="margin-left: auto;" name="chevron-forward-outline" size="large"></ion-icon>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-header *ngIf="!isSelectMinskStop && !isSelectIvanovoStop">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div style="font-size: 8px;">
        <h6 style="margin: 0; padding: 0;">{{currentCity.name}} - {{cityTo.name}}</h6>
        <h6 style="margin: 0; padding: 0;">{{getDateFormat()}}</h6>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="!isSelectMinskStop && !isSelectIvanovoStop">
  <ion-item class="ion-no-padding" text-wrap>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <h5>Выберите остановки</h5>
      </ion-row>

      <ion-row class="ion-no-padding" (click)="onSelectStopToggle(true)">
        <div class="select-stop">
          <div class="icon-container">
            <ion-icon style="color: #fff" name="bus-outline" ize="large"></ion-icon>
          </div>
          <div class="select-stop__container">
            <p class="select-stop__title">Место посадки</p>
            <p class="select-stop__subtitle">{{placeFrom?.name || ''}}</p>
          </div>
          <ion-icon style="margin-left: auto;" name="chevron-forward-outline" size="large"></ion-icon>
        </div>
      </ion-row>

      <ion-row class="ion-no-padding" (click)="onSelectStopToggle(false)">
        <div class="select-stop" style="margin-top: 16px; margin-bottom: 16px;">
          <div class="icon-container">
            <ion-icon style="color: #fff" name="bus-outline" ize="large"></ion-icon>
          </div>
          <div class="select-stop__container">
            <p class="select-stop__title">Место высадки</p>
            <p class="select-stop__subtitle">{{placeTo?.name || ''}}</p>
          </div>
          <ion-icon style="margin-left: auto;" name="chevron-forward-outline" size="large"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div class="nav">
    <h5>Выберите время</h5>
    <ion-list>
      <ion-item class="ion-no-padding" *ngFor="let trip of trips">
        <ion-nav-link *ngIf="trip.freePlace > 0 && trip.freePlace - peopleCount >= 0 && id" class="time-link"
          router-direction="forward" [component]="confirmComponent" (click)="onNavClick(trip)" >
          <div>
            {{trip.startTime}} - {{trip.endTime}}
          </div>
          <div class="card-info__date">
            {{trip.freePlace > 3 ? '3+ мест' : trip.freePlace > 0 ? trip.freePlace === 1 ? '1 место' : trip.freePlace +
            ' места' : '0 мест'}}
          </div>
          <div>
            {{trip.sum}} BYN
          </div>
          <ion-icon name="chevron-forward-outline" size="large"></ion-icon>
        </ion-nav-link>

        <div *ngIf="trip.freePlace > 0 && trip.freePlace - peopleCount >= 0 && !id" class="time-link"
          router-direction="forward" (click)="onWithoutAccountNavClick(trip)">
          <div>
            {{trip.startTime}} - {{trip.endTime}}
          </div>
          <div class="card-info__date">
            {{trip.freePlace > 3 ? '3+ мест' : trip.freePlace > 0 ? trip.freePlace === 1 ? '1 место' : trip.freePlace +
            ' места' : '0 мест'}}
          </div>
          <div>
            {{trip.sum}} BYN
          </div>
          <ion-icon name="chevron-forward-outline" size="large"></ion-icon>
        </div>

        <div *ngIf="trip.freePlace <= 0 || trip.freePlace - peopleCount < 0" class="time-link"
          router-direction="forward">
          <div>
            {{trip.startTime}} - {{trip.endTime}}
          </div>
          <div class="card-info__date">
            {{trip.freePlace > 3 ? '3+ мест' : trip.freePlace > 0 ? trip.freePlace === 1 ? '1 место' : trip.freePlace +
            ' места' : '0 мест'}}
          </div>
          <div>
            {{trip.sum}} BYN
          </div>
          <div style="width: 32px;"></div>
        </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>